header{
    background-color: whitesmoke;
    padding: 0;
    border-bottom: 1px solid #c2e7ac;
}
a{
    color: rgb(125, 199, 138);
}
a:hover{
    background: rgb(125, 199, 138);
    color: whitesmoke;
}

.container{
    margin: 0 auto;
    display: flex;

}
a{
    list-style-type:none;
    margin: 0;
}
nav a {
    padding: 1em;
    display: inline-block;
}
