header{
    background-color: whitesmoke;
    padding: 0;
    border-bottom: 1px solid #deb1b1;
}
a{
    color: rgb(159, 100, 18);
}
a:hover{
    background: rgb(113, 75, 43);
    color: whitesmoke;
}

.container{
    margin: 0 auto;
    display: flex;

}
a{
    list-style-type:none;
    margin: 0;
}
nav a {
    padding: 1em;
    display: inline-block;
}
