<header>
    <div class="container">
        <img src="" alt="">
        <a class="nav-link" href="/acceuil" routerLink="/acceuil" routerLinkActive="active"  class="Acceuil">Acceuil</a>
        <nav >
                <a href="/profile" routerLink="/profil" routerLinkActive="active" class="Profil">Profil</a>
                <a href="/terrain" routerLink="">Terrain</a>
                <a href="/acceuil" routerLink="/">Info</a>
                <a  routerLink="/">Contacter nous!</a>
        </nav>
    </div>
</header>