<body>
    <section class="hero" style="background-color: #F4F9F3;">
        <div >
            <div class="row">
                <div  > <h2 style="text-align: center;">Ajouter votre terrain</h2>
            </div>
            <br><br><br>
            <form class="login-form">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="NomTerrain">Nom Terrain : </label><br>
                        <input type="text" name="name" id="NomTerrain" placeholder="Nom de votre terrain" required  style="background-color: #C5F4C1;">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="CIN" >Localisation :</label><br>
            <input type="text" name="CIN" id="Localisation" placeholder="Inserer les coordonnees" required style="background-color: #C5F4C1;" >
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="num_tel">Dimention :  </label><br>
            <input type="text" name="num_tel" id="num_tel" placeholder="01234567" minlength="8" maxlength="8" required style="background-color: #C5F4C1;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="email" >Prix:  </label><br>
            <input type="email" name="email" id="email" placeholder="exemple@exp.com" required style="background-color: #C5F4C1;">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="password" >Disponibilite :</label><br>
            <input type="password" id="mdp" name="password" placeholder="*********" required style="background-color: #C5F4C1;">
                    </div>
                </div>
                <div class="col-4">
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6 offset-md-3">
            <div class="container d-grid" >
                <button type="button" class="btn btn-success btn-block" >Ajouter un Terrain</button>
            </div> </div>  </div><br><br>
</form>