body {
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

    .carte {
    background-color: #75c94a;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    float: left; 
    justify-content: left;
    }
    
    .profil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    }

    .info {
    color: #fff;
    }
