body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url('./main-slider-1-1\ 1.png');
    background-size: cover; /* Ajuste l'image pour couvrir tout l'élément */
    background-position: center; /* Centre l'image */
    /* Vous pouvez également utiliser d'autres propriétés comme background-repeat pour contrôler le comportement de l'image en arrière-plan */
}
.custom-button {
    background-color: #f7c35f;; /* Couleur de fond grise */
    color: white; /* Couleur de texte jaune */
    padding: 20px 40px; /* Ajoute un peu d'espace autour du texte */
    border: none; /* Supprime la bordure du bouton */
    border-radius: 5px; /* Ajoute des coins arrondis au bouton */
    cursor: pointer; /* Change le curseur en pointeur au survol */
    font-size: 22px;
}
.custom-paragraph {
    font-size: 24px; /* Taille du texte agrandie pour le paragraphe */
}
.custom-heading {
    color: white; /* Couleur du texte en blanc */
    font-size: 56px; /* Taille du texte agrandie pour l'en-tête */
}