
<body style="background-color: #f4f9f3;">
    <main >
        
        <section class="hero" >
            <div >
                <div class="row">
                    <div class="col-md-6" > <h2>Content de te revoir!</h2>
                        <p>Entrez vos identifiants pour accéder à votre compte</p>
<br>
                        <form class="login-form">
                            <div class="form-group" >
                                <label for="email">Email :  </label><br>
            <input type="email" name="email" id="email" placeholder="exemple@exp.com" required style="background-color: #C5F4C1;">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe :  </label><br>
                                <input type="password" id="mdp" name="password" placeholder="*********" required style="background-color: #C5F4C1;">
                                <a href="#" class="forgot-password">Mot de passe oublier?</a>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="checkbox" id="remember-me" name="remember-me">
                                <label for="remember-me">Rappelez-vous pendant 30 jours</label>
                            </div>
                            <div class="container d-grid" >
                            
                            <button type="button" class="btn btn-success btn-block">Se connecter</button>
                        </div>
                        </form>
                    <br>
                        <p class="signup-link" style="text-align: center;">Vous n'aver pas de compte? <a href="/authentification" routerLink="/authentification" routerLinkActive="active">S'inscrire</a></p>
                    </div>
                
                    </div>
                </div>
        </section>
    </main>
</body>