<body>
    <section class="hero" style="background-color: #F4F9F3;">
        <div >
            <div class="row">
                <div  > <h2 style="text-align: center;">Commencez maintenant</h2>
            </div>
            <br><br><br>
            <form class="login-form">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="name">Nom et Prenom :  </label><br>
                        <input type="text" name="name" id="name" placeholder="Nom et Prénom" required  style="background-color: #C5F4C1;" [(ngModel)]="u.name">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="CIN" >CIN :  </label><br>
            <input type="text" name="CIN" id="CIN" placeholder="01234567" minlength="8" maxlength="8" required style="background-color: #C5F4C1;" [(ngModel)]="u.CIN">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="num_tel">Numero de telephone :   </label><br>
            <input type="text" name="num_tel" id="num_tel" placeholder="01234567" minlength="8" maxlength="8" required style="background-color: #C5F4C1;" [(ngModel)]="u.num_tel">
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="email" >Email :  </label><br>
            <input type="email" name="email" id="email" placeholder="exemple@exp.com" required style="background-color: #C5F4C1;" [(ngModel)]="u.email">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="mdp" >Mot de passe :  </label><br>
            <input type="mdp" id="mdp" name="mdp" placeholder="*********" required style="background-color: #C5F4C1;" [(ngModel)]="u.mdp">
                    </div>
                </div>
                <div class="col-4">
                
                </div>
            </div><br><br>
            <div class="row">
                <div class="form-group">
                    <input type="checkbox" id="agree" name="agree">
                    <label for="agree">J'accepte les <a href="#">conditins&politique</a></label>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-6 offset-md-3">
            <div class="container d-grid" >
                <button type="button" class="btn btn-success btn-block" (click)="ajouteruser()">S'inscrire</button>
            </div> </div>  </div><br><br>
</form>
</div></div>
<br><br><br>
<p class="signup-link" style="text-align: center;">Vous avez un compte? <a href="/authentification" routerLink="/authentification" routerLinkActive="active">Se connecter</a></p>

