<div class="container">
    <form action="" method="post" id="form">
        <h2 class="text-center">Registration</h2>
        <div class="input-group">
            <label for="name">Nom et Prénom</label>
            <input type="text" name="name" id="name" placeholder="Nom et Prénom" required>
        </div>
        <div class="input-group">
            <label for="CIN">CIN</label>
            <input type="text" name="CIN" id="CIN" placeholder="01234567" minlength="8" maxlength="8" required>
        </div>
        <div class="input-group">
            <label for="num_tel">Numéro de téléphone</label>
            <input type="text" name="num_tel" id="num_tel" placeholder="01234567" minlength="8" maxlength="8" required>
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="exemple@exp.com" required>
        </div>
        <div class="input-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="mdp" name="password" placeholder="*********" required>
        </div>
    </form>
</div>
